* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  font-family: $font-family-sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $secondary-dark;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .primary-nav {
    font-size: 0.7rem;
  }
}

.logo {
  min-height: 100px;
  width: 130px;
  background: url(/src/assets/images/logo.png) 0/130px no-repeat;
  margin-left: -10px;
}

.nav-menu {
  text-align: center;
}

.xarxes-socials {
  text-align: center;
}

@mixin links($link, $visited, $hover, $active) {
  & {
    color: $link;
    text-decoration: none;

    &:visited {
      color: $visited;
    }

    &:hover {
      color: $hover;
    }

    &:active,
    &:focus {
      color: $active;
    }
  }
}

.main-link {
  @include links($link-color, $visited-color, $hover-color, $hover-color);
}

@media screen and (min-width: $tablet-min-width) {
  .body {
    width: 70%;
  }
}

@media screen and (min-width: $pc-min-width) {
  .body {
    width: 55%;
  }
}

@supports (display: grid) {
  .body {
    width: revert;
    max-width: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr fit-content 1fr;
    justify-content: start;
    gap: 20px;
  }

  .header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 1rem;
    margin-bottom: revert;
  }

  .before-footer {
    grid-column: 1 / 2;
    grid-row: 4;
    height: 1px;
    background-color: $primary-color;
    margin-top: 0;
  }

  .footer {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    height: 20vh;
    justify-content: space-around;
  }

  @media screen and (min-width: $tablet-min-width) {
    .body {
      grid-template-columns: repeat(8, 1fr);
    }

    .header {
      grid-column: 2 / 8;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: -10px;
    }

    .before-footer {
      grid-column: 2 / 8;
    }

    .footer {
      grid-column: 2 / 8;
      height: 10vh;
      flex-direction: row;
      justify-content: space-between;
    }

    .xarxes-socials {
      margin-left: 56px;
    }
  }

  @media screen and (min-width: $pc-min-width) {
    .body {
      grid-template-columns: repeat(12, 1fr);
    }

    .header {
      grid-column: 3 / 11;
      grid-row: 1 / 2;
      margin-bottom: -20px;
      margin-top: 0;
    }

    .before-footer {
      grid-column: 3 / -3;
    }

    .footer {
      grid-column: 3 / 11;

      .primary-nav {
        font-size: 0.9rem;
      }
    }
  }
}
