* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 2rem;
    font-family: $font-family-sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $primary-color;
    background-color: $secondary-dark;
}

.list-inline-item {
    margin-right: 1rem;
}

.logo {
    min-height: 80px;
    background: url(/src/assets/images/logo.png) 0/130px no-repeat;
}

.logo--footer {
    min-height: 80px;
    background: url(/src/assets/images/logo.png) 0/130px no-repeat;
}

@mixin links ($link, $visited, $hover, $active) {

    & {
        color: $link;
        text-decoration: none;

        &:visited {
            color: $visited;
        }

        &:hover {
            color: $hover;
        }

        &:active,
        &:focus {
            color: $active;
        }
    }
}

.main-link {
    @include links($link-color, $visited-color, $hover-color, $hover-color);
}

@supports (display:grid) {
    .portada {
        max-width: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 11vh 78vh 11vh;
        justify-content: start;
        gap: 20px;
    }

    .logo {
        grid-column: 3 / 7;
        grid-row: 1 / 2;
        position: relative;
        left: -10px;
    }

    .nav-menu {
        grid-column: -7 / -3;
        grid-row: 1 / 2;
        position: relative;
        top: 45%;
        right: 0;
        text-align: end;
    }

    .main-portada {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        background: url(/src/assets/images/bg-portada.jpg) center/cover no-repeat;
        height: 78vh;
        opacity: 0.3;
        z-index: 2;
    }

    .frase-portada {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        width: 50vw;
        margin: auto;
        text-align: center;
        z-index: 3;
    }

    .before-footer {
        grid-column: 3 / -3;
        grid-row: 3;
        height: 1px;
        background-color: $primary-color;
        margin-top: 0;
    }

    .logo--footer {
        grid-column: 3 / 7;
        grid-row: 3 / 4;
        position: relative;
        left: -10px;
    }

    .nav-menu--footer {
        grid-column: 5 / 9;
        grid-row: 3 / 4;
        position: relative;
        top: 45%;
        right: 0;
        text-align: center;
        font-size: 0.7rem;
    }
}

.footer {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
}