@import 'base';

.text-on-image {
  margin: auto;
  text-align: center;
  z-index: 3;
}

.campionat {
  margin: 2rem auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@counter-style circled-decimal {
  system: fixed;
  symbols: '\2460''\2461''\2462''\2463''\2464''\2465''\2466''\2467''\2468';
  suffix: ' ';
}

.ordered-list {
  list-style-type: circled-decimal;
}

.ordered-list-item {
  font-size: 2rem;
  vertical-align: top;

  > h5 {
    font-size: 1.75rem;
    font-weight: 300;
  }
  > p {
    font-size: 1rem;
  }
}

.cartell {
  width: 80%;
  margin: auto;
  margin-top: -1rem;
}

.cartell--image {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.cartell--image:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-caption {
  margin: auto;
  display: block;
  width: 70%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .modal-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.cartell--caption {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.info {
  margin-top: -1rem;
}

/* 100% Image Width on Smaller Screens */
@media screen and (max-width: $tablet-min-width){
  .modal-content {
    width: 95%;
  }
}

@media screen and (min-width: $tablet-min-width) {
  .intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .cartell {
    width: 50%;
  }
}

@supports (display: grid) {
  .hr-campionat {
    opacity: 0;
  }

  .campionat {
    width: 90%;
  }

  .bg-image {
    background: url(/src/assets/images/bg-campionat.jpeg) center/cover no-repeat;
    width: 100vw;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 30vh;
    z-index: 2;
    margin-left: 0;
    opacity: 0.3;
  }

  .text-on-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 90vw;
    position: revert;
    margin: auto;
    text-align: center;
    z-index: 3;

    .campionat {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }

  @media screen and (min-width: $tablet-min-width) {
    .bg-image {
      grid-column: 1 / 9;
      height: 35vh;
    }

    .text-on-image {
      grid-column: 1 / 9;
      width: 70vw;
    }

    .campionat {
      grid-column: 2 / 8;
      width: 100%;
    }

    .cartell {
      width: 70%;
    }

    .intro {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      gap: 20px;
    }
  }

  @media screen and (min-width: $pc-min-width) {
    .bg-image {
      grid-column: 1 / 13;
      height: 60vh;
    }

    .text-on-image {
      grid-column: 1 / 13;
      width: 50vw;
    }

    .campionat {
      grid-column: 4 / 10;
      width: 90%;
    }

    .cartell {
      width: 50%;
    }
  }
}