@import "base";


// es crea un flex per gestionar els membres. Amb estil wrap
// per tal que s"adapti a mides de diferents pantalles.
.club-members {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

// cada membre té un propi flex on hi haurà la imatge, el text i l"ELO
.member {
  display: flex;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

.member--image {
  margin-bottom: 1rem;

  img {
    width: 100%;

    // es defineix la relació d"aspecte d"imatge
    // per tal que siguin totes iguals
    aspect-ratio: 3 / 2;
    border-radius: 5px;

    // també se li dona un estil d"ombrejat a la imatge
    box-shadow: 0 0 5px 0.1 $text-color;
    object-fit: cover;
  }
}

.member--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > h3 {
    font-weight: 300;
  }
}

// adaptaió per tauletes
@media screen and (min-width: $tablet-min-width) {

  .member {
    width: 45%;
  }

  .member--info {
    height: fit-content;
    min-height: 12rem;

    > h3,
    p {
      margin-bottom: 0;
    }
  }
}

// adaptació per pantalles grans
@media screen and (min-width: $pc-min-width) {

  .member {
    width: 30%;
  }
}

// en cas que suporti grid, es gestiona l"estil i la configuració
// de les pàgines a través d"un grid
@supports (display: grid) {

  .club-members {
    margin-bottom: 1rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .after-header {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  @media screen and (min-width: $tablet-min-width) {

    .club-members {
      grid-column: 2 / 8;
    }

    .after-header {
      grid-column: 1 / 9;
    }
  }

  @media screen and (min-width: $pc-min-width) {

    .club-members {
      grid-column: 4 / 10;
    }

    .after-header {
      grid-column: 1 / 13;
    }
  }
}