@import 'base';

.dades {
  margin: auto;
  margin-bottom: 2rem;
  width: 90%;
}

.map {
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}

.description-list {
  text-align: center;
}

.contacte {
  margin-top: 2rem;
}

.input-text {
  color: $text-color;
  width: 100%; /* Full width */
  padding: 8px; /* Some padding */
  border: 1px solid $text-color; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color: $bg-form-color;
}

.info-privacitat {
  font-size: 0.75rem;
}

.input-checkbox {
  accent-color: $primary-color;
}

.form-container {
  text-align: center;
}

/* Style the submit button with a specific background color etc */
.btn {
  margin-top: 10px;
  padding: 2px;
  height: 2rem;
  width: 6rem;
  color: $secondary-dark;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 0.5rem;
}

.btn:hover {
  border: 1px solid $text-color;
}

@supports (display: grid) {
  .dades {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 1rem;
  }

  .map {
    margin-bottom: 0;
  }

  .contacte {
    grid-row: 3 / 4;
    width: 90vw;
    margin: auto;
  }

  @media screen and (min-width: $tablet-min-width) {
    .hr-contacte {
      display: none;
    }

    .dades {
      grid-column: 2 / 8;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: fit-content 1fr;
      gap: 20px;
      align-items: center;

      > .titol-pagina {
        grid-column: 1 / 3;
        grid-row: 1;
      }
    }

    .map {
      grid-column: 1 / 2;
      grid-row: 2;
      height: 230px;
      width: 100%;
      margin: auto;
    }

    .description-list {
      grid-column: 2 / 3;
      grid-row: 2;
      text-align: start;
      width: 80%;
      margin: auto;
      margin-bottom: 0;
    }

    .contacte {
      grid-column: 2 / 8;
      width: revert;
    }
  }

  @media screen and (min-width: $pc-min-width) {
    .dades {
      grid-column: 4 / 10;
    }

    .contacte {
      grid-column: 4 / 10;
    }
  }
}