<footer class="footer">
    <div class="logo">
    </div>
    <nav class="nav-menu">
        <ul class="primary-nav list-inline">
            <li class="list-inline-item">
                <a class="colored-background-link" href="index.html">Page Two</a>
            </li>
            <li class="list-inline-item">
                <a class="colored-background-link" href="index.html">Page Three</a>
            </li>
            <li class="list-inline-item">
                <a class="colored-background-link" href="index.html">Page Four</a>
            </li>
        </ul>
    </nav>
    <div class="xarxes-socials">
    </div>
</footer>