<footer class="footer">
  <div class="logo"></div>
  <nav class="nav-menu">
    <ul class="primary-nav list-inline my-0">
      <li class="list-inline-item me-4">
        <a class="main-link" href="index.html">Front Page</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="main-link" href="index.html">Page Two</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="main-link" href="index.html">Page Three</a>
      </li>
      <li class="list-inline-item me-0">
        <a class="main-link" href="index.html">Page Four</a>
      </li>
    </ul>
  </nav>
  <div class="xarxes-socials">
    <a href="https://instagram.com/clubescacsolot" target="_blank"
      ><span class="fa-brands fa-instagram me-2"></span
    ></a>
    <a href="https://twitter.com/clubescacsolot" target="_blank"
      ><span class="fa-brands fa-twitter me-2"></span
    ></a>
    <a href="https://facebook.com/clubescacsolot" target="_blank"
      ><span class="fa-brands fa-facebook"></span
    ></a>
  </div>
</footer>
