<header class="header">
  <a href="index.html" class="logo"></a>
  <nav class="nav-menu">
    <ul class="primary-nav list-inline my-0">
      <li class="list-inline-item me-4">
        <a class="main-link" href="club-members.html">Membres del Club</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="main-link" href="index.html">Page Three</a>
      </li>
      <li class="list-inline-item me-0">
        <a class="main-link" href="index.html">Page Four</a>
      </li>
    </ul>
  </nav>
</header>
