@use 'sass:color';

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-family-serif: 'Georgia', 'Times New Roman', serif;

$primary-color: #94cfa1;
$secondary-color: #006715;
$secondary-dark: color.scale($secondary-color, $lightness: -70%);
$text-color: #d5dcd7;
$bg-form-color: color.scale($secondary-dark, $lightness: 8% ,$saturation: -70%);

$link-color: $primary-color;
$hover-color: color.scale($link-color, $lightness: 20%, $saturation: -30%);
$visited-color: color.scale($link-color, $lightness: -10%);

$theme-colors: (
  'primary': #94cfa1,
  // posa-hi el codi de color que prefereixis
  'secondary': #006715,
);

$mqMinWidth: 420px;
