@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime:wght@400;700&family=Inter:wght@100;200;300;400;700;800&display=swap');

$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Abril Fatface', 'Georgia', 'Times New Roman', serif;
$font-family-courier: 'Courier Prime', Courier, monospace;
$font-size: 16px;
$line-height: 24px;

$primary-color: #c8eba6;
$secondary-color: #006715;
$secondary-dark: color.scale($secondary-color, $lightness: -70%);
$text-color: #d5dcd7;
$bg-form-color: color.scale($secondary-dark, $lightness: 8%, $saturation: -70%);

$link-color: $primary-color;
$hover-color: color.scale($link-color, $lightness: 20%, $saturation: -30%);
$visited-color: color.scale($link-color, $lightness: -10%);

$theme-colors: (
  'primary': #c8eba6,
  // posa-hi el codi de color que prefereixis
  'secondary': #006715,
);

//different devices screen width
$small-width-smartphones: 350px;
$tablet-min-width: 560px;
$pc-min-width: 1200px;

//global page width
$global-width: 60vw;
$max-width: 850px;
